<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- Check http://logging.apache.org/log4j/1.2/manual.html for info about how to 
		setup your log4j configuration. Use this as a template for your configuration  -->
		
	<!-- This section defines appender - it defines where to log (file, stdout) 
		and the format of the log -->

	<!-- Define an appender to write messages on consolle-->		
	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Encoding" value="UTF-8" />
	
 		<layout class="org.apache.log4j.PatternLayout">
		<!-- See http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/PatternLayout.html 
			for the desired format -->
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%c] [%-5p] %m%n" />
		</layout>

 	</appender>	
		
	<!-- Define an appender to write error messages -->
	<appender name="ErrorAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<param name="Encoding" value="UTF-8" />
		<param name="File" value="logs/error.log" />

		<layout class="org.apache.log4j.PatternLayout">
		<!-- See http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/PatternLayout.html 
			for the desired format -->
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%c] [%-5p] %m%n" />
		</layout>
	</appender>
	
	<!-- Define an appender to write standard output messages -->
	<appender name="StandardAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<param name="Encoding" value="UTF-8" />
		<param name="File" value="logs/info.log" />
		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%c] [%-5p] %m%n" />
		</layout>
	</appender>
	
	<!-- Define an appender to write access log messages -->
	<appender name="AccessAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<param name="Encoding" value="UTF-8" />
		<param name="File" value="logs/access.log" />
		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5p] %m%n" />
		</layout>
	</appender>

	<!-- Define an appender to write debug messages - it can be turned off on production system -->
	<appender name="DebugAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<param name="Encoding" value="UTF-8" />		
		<param name="File" value="logs/debug.log" />

		<layout class="org.apache.log4j.PatternLayout">
		<!-- See http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/PatternLayout.html 
			for the desired format -->
			<param name="ConversionPattern" value="[%d{dd-MM-yyyy HH:mm:ss.SSS}] [%t] [%c] [%l] [%-5p] %m%n" />
		</layout>
	</appender>

	<!-- Define an appender to write error messages asynchronously, a separated thread write logs into files.
	 - see http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/AsyncAppender.html -->	
	<appender name="AsyncError" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="65536" />
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<!--  TRACE, DEBUG, INFO, WARN, ERROR, FATAL -->
			<param name="LevelMin" value="WARN" />
		</filter>
		
		<appender-ref ref="ErrorAppender" />
	</appender>
	
	<!-- Define an appender to write standard messages asynchronously, a separated thread write logs into files.
	 - see http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/AsyncAppender.html -->	
	<appender name="AsyncStandard" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="65536" />
		<param name="Blocking" value="false" />
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<!--  TRACE, DEBUG, INFO, WARN, ERROR, FATAL -->
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="INFO" />
		</filter>
		
		<appender-ref ref="StandardAppender" />
	</appender>
	
	<!-- Define an appender to write debug messages asynchronously, a separated thread write logs into files.
	 - see http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/AsyncAppender.html -->	
	<appender name="AsyncDebug" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="65536" />
		<param name="Blocking" value="false" />
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<!--  TRACE, DEBUG, INFO, WARN, ERROR, FATAL -->
			<param name="LevelMin" value="TRACE" />
			<param name="LevelMax" value="DEBUG" />
		</filter>
		
		<appender-ref ref="DebugAppender" />
	</appender>

	<!-- Define an appender to write access log messages asynchronously, a separated thread write logs into files.
	 - see http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/AsyncAppender.html -->	
	<appender name="AsyncAccess" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="65536" />
		<param name="Blocking" value="false" />
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<!--  TRACE, DEBUG, INFO, WARN, ERROR, FATAL -->
			<param name="LevelMin" value="TRACE" />
			<param name="LevelMax" value="FATAL" />
		</filter>
		<appender-ref ref="AccessAppender" />
	</appender>

	<!-- This section defines loggers - active subjects that produces logs -->

	<!-- This defines the access logger -->	
	<logger name="org.bonmassar.crappydb.server.accesslog" additivity="false">
		<!-- Define the level of this logger -->	
		<level value="TRACE" />
		<appender-ref ref="AsyncAccess" />
	</logger>

	<!-- This defines the standard logger for the whole application -->	
	<root>
		<!-- Define the level of this logger -->	
		<level value="TRACE" />
		<appender-ref ref="AsyncError" />
        <appender-ref ref="AsyncDebug" />
		<appender-ref ref="AsyncStandard" />
	</root>

</log4j:configuration>
